- type: job
  id: HeadOfPersonnel
  name: job-name-hop
  description: job-description-hop
  playTimeTracker: JobHeadOfPersonnel
  antagAdvantage: 6 # DeltaV - Reduced TC: Head of Staff
  requirements:
    - !type:DepartmentTimeRequirement
      department: Engineering
      time: 2.5h
    - !type:DepartmentTimeRequirement
      department: Medical
      time: 2.5h
    - !type:DepartmentTimeRequirement
      department: Epistemics # DeltaV
      time: 2.5h
    - !type:DepartmentTimeRequirement
      department: Security
      time: 2.5h
    - !type:DepartmentTimeRequirement
      department: Command
      time: 2.5h
  weight: 10 # DeltaV - Changed HoP weight from 20 to 10 due to them not being more important than other Heads
  startingGear: HoPGear
  icon: "JobIconHeadOfPersonnel"
  requireAdminNotify: true # DeltaV
  supervisors: job-supervisors-captain
  canBeAntag: false
  access:
  - Command
  - HeadOfPersonnel
  - Bar
  - Service
  - Maintenance
  - Janitor
  - Theatre
  - Kitchen
  #- Chapel # DeltaV - Chapel is in Epistemics
  - Hydroponics
  - External
  - Cryogenics
  # I mean they'll give themselves the rest of the access levels *anyways*.
  # As of 15/03/23 they can't do that so here's MOST of the rest of the access levels.
  # Head level access that isn't their own was deliberately left out, get AA from the captain instead.
  # Begin DeltaV Removals - fuck all of this HoP is a service role
  #- Chemistry
  #- Engineering
  #- Research
  #- Detective
  #- Salvage
  #- Security # NoooOoOo!! My HoPcurity!1
  #- Brig
  #- Lawyer # Lawyer is now part of the justice dept
  #- Cargo
  #- Atmospherics
  #- Medical
  # End DeltaV Removals
  # Begin DeltaV Additions - fine-grained service accesses
  - Boxer
  - Clown
  - Mime
  - Musician
  - Reporter
  - Zookeeper
  # End DeltaV Additions
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff
      - type: PsionicBonusChance # DeltaV: makes it more likely to become psionic.
        flatBonus: 0.025

- type: startingGear
  id: HoPGear
  equipment:
    #shoes: ClothingShoesLeather # DeltaV - Commented for Loadouts
    id: HoPPDA
    #gloves: ClothingHandsGlovesHop # DeltaV - Commented for Loadouts
    ears: ClothingHeadsetHoP # DeltaV - HoP is now a service role, replaces ClothingHeadsetAltCommand headset.
    belt: BoxFolderClipboardThreePapers
    eyes: ClothingEyesHudCommand
  storage:
    back:
    - Flash

- type: chameleonOutfit
  id: HeadOfPersonnelChameleonOutfit
  job: HeadOfPersonnel
  hasMindShield: true
  equipment:
    head: ClothingHeadHatHopcap
    eyes: ClothingEyesHudCommand
    mask: ClothingMaskNeckGaiterRed
    neck: ClothingNeckCloakHop
    outerClothing: ClothingOuterWinterHoP

