- type: job
  id: HeadOfSecurity
  name: job-name-hos
  description: job-description-hos
  playTimeTracker: JobHeadOfSecurity
  requirements:
    - !type:DepartmentTimeRequirement
      department: Security
      time: 72000 # DeltaV - 20 hours
    - !type:RoleTimeRequirement
      role: JobWarden
      time: 36000 #DeltaV 10 hrs
    - !type:DepartmentTimeRequirement # DeltaV - Command dept time requirement
      department: Command
      time: 36000 # 10 hours
    - !type:OverallPlaytimeRequirement
      time: 90000 # DeltaV - 25 hours, was 40
  weight: 10
  startingGear: HoSGear
  icon: "JobIconHeadOfSecurity"
  requireAdminNotify: true
  supervisors: job-supervisors-captain
  canBeAntag: false
  whitelisted: true # DeltaV
  access:
  - HeadOfSecurity
  - Command
  #- Brig  # Delta V: Removed
  - Security
  - Armory
  - Maintenance
  #- Service # Delta V: Access adjustments
  - External
  - Detective
  - Corpsman # DeltaV - added Corpsman access
  - Cryogenics
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff
  - !type:AddComponentSpecial
    components:
    - type: PsionicBonusChance #Nyano - Summary: makes it more likely to become psionic.
      flatBonus: 0.025

- type: startingGear
  id: HoSGear
  equipment:
    eyes: ClothingEyesGlassesSecurity
    id: HoSPDA
    gloves: ClothingHandsGlovesCombat
    ears: ClothingHeadsetAltSecurity
    pocket1: WeaponPistolMk58Nonlethal
  storage:
    back:
    - Flash
    - MagazinePistol
