- type: job
  id: Warden
  name: job-name-warden
  description: job-description-warden
  playTimeTracker: JobWarden
  requirements:
    - !type:RoleTimeRequirement # DeltaV - JobSecurityOfficer time requirement. Make them experienced in proper officer work.
      role: JobSecurityOfficer
      time: 36000 # DeltaV - 10 hrs
    - !type:RoleTimeRequirement # DeltaV - JobDetective time requirement. Give them an understanding of basic forensics.
      role: JobDetective
      time: 21600 # DeltaV - 6 hours
  startingGear: WardenGear
  icon: "JobIconWarden"
  requireAdminNotify: true
  supervisors: job-supervisors-hos
  canBeAntag: false
  access:
  - Security
  #- Brig # Delta V: Removed
  - Armory
  - Maintenance
  #- Service # Delta V: Access adjustments
  - External
  - Detective
  - Cryogenics
  - Corpsman #Delta V: Corpsman is actively implemented, warden requires access to the treatment of their prisoners.
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]

- type: startingGear
  id: WardenGear
  equipment:
    eyes: ClothingEyesGlassesSecurity
    id: WardenPDA
    ears: ClothingHeadsetSecurity
  #  pocket1: WeaponPistolMk58Nonlethal # DeltaV - loadouts
  storage:
    back:
    - Flash
  # - MagazinePistol # DeltaV - loadouts
