- type: job
  id: SalvageSpecialist
  name: job-name-salvagespec
  description: job-description-salvagespec
  playTimeTracker: JobSalvageSpecialist
  antagAdvantage: 3 # DeltaV - Reduced TC: External Access + Free hardsuit and weapons
  requirements:
  #  - !type:DepartmentTimeRequirement
  #    department: Logistics # DeltaV - Logistics Department replacing Cargo
  #    time: 60 #DeltaV 1 min
    - !type:DepartmentTimeRequirement
      department: Logistics # DeltaV - Logistics Department replacing Cargo
      time: 14400 # 4 hours
  icon: "JobIconShaftMiner"
  startingGear: SalvageSpecialistGear
  supervisors: job-supervisors-qm
  access:
  - Cargo
  - Salvage
  - Maintenance
  - External
  - Orders

- type: startingGear
  id: SalvageSpecialistGear
  equipment:
    jumpsuit: ClothingUniformJumpsuitSalvageSpecialist
    #id: SalvagePDA # DeltaV: different PDAs in loadouts
    ears: ClothingHeadsetCargo
  #storage:
    #back:
    #- Stuff
