- type: job
  id: Gladiator
  name: job-name-gladiator
  description: job-description-gladiator
  playTimeTracker: JobGladiator
  startingGear: NyanoGladiatorGear
  alwaysUseSpawner: true
  canBeAntag: false
  icon: "JobIconGladiator"
  supervisors: job-supervisors-security
  setPreference: true
#  whitelistRequired: true
  requirements:
    - !type:DepartmentTimeRequirement
      department: Security
      time: 21600

- type: startingGear
  id: NyanoGladiatorGear
  equipment:
    id: GladiatorPDA
    ears: ClothingHeadsetPrison
  #any other possessions, spawn in cell

- type: chameleonOutfit
  id: GladiatorChameleonOutfit
  job: Gladiator
  equipment:
    id: GladiatorPDA
    ears: ClothingHeadsetPrison
    jumpsuit: ClothingUniformJumpsuitGladiator
    outerClothing: ClothingOuterArmorGladiator
