- type: job
  id: Musician
  name: job-name-musician
  description: job-description-musician
  playTimeTracker: JobMusician
  startingGear: MusicianGear
  icon: "JobIconMusician"
  supervisors: job-supervisors-hop # DeltaV - was job-supervisors-hire
  access:
  - Maintenance # TODO Remove maint access for all gimmick jobs once access work is completed
  - Theatre
  - Musician # DeltaV - Add Musician access
  - Service # DeltaV - They work for HoP, therefore service.
  special:
  - !type:GiveItemOnHolidaySpecial
    holiday: MikuDay
    prototype: BoxPerformer

- type: startingGear
  id: MusicianGear
  equipment:
    eyes: ClothingEyesGlassesSunglasses
    shoes: ClothingShoesBootsLaceup
    id: MusicianPDA
    ears: ClothingHeadsetService
  #storage:
    #back:
    #- Stuff

- type: chameleonOutfit
  id: MusicianChameleonOutfit
  job: Musician
  equipment:
    head: ClothingHeadHatTophat
    mask: ClothingMaskBreath
    neck: ClothingNeckHeadphones
    outerClothing: ClothingOuterWinterMusician
    gloves: ClothingHandsGlovesColorBlack
