# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '0 0 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v9
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}

        days-before-stale: 90
        remove-stale-when-updated: true

        stale-issue-message: 'This issue has not been triaged for 90 days'
        only-issue-labels: 'S: Untriaged'
        stale-issue-label: 'Stale'
        days-before-issue-close: -1

        stale-pr-message: 'This Pull Request has not seen activity in 90 days, and will be closed in 2 days without activity'
        exempt-pr-labels: 'Ignore Stale'
        stale-pr-label: 'Stale'
        days-before-pr-close: 2
